<!-- <h1>{{user.name}}</h1>
<img src="{{user.avatar_url}}" alt="..." class="rounded-circle">
<a href="{{user.html_url}}">Sitio Web</a> -->
{{titulo}}
<ul>
  <li *ngFor="let dato of user">
    <p>Id: {{dato.id}} - Titulo: {{dato.titulo}} - Nota: {{dato.cuerpo}} -- Autor: {{dato.autor}}</p>
  </li>
</ul>
<div class="container">
  <div class="row">
    <div class="form-group col-md-4">
      <label for="t">Titulo</label>
      <input type="text" class="form-control" name="titulo" [(ngModel)]="titulo" id="t">
    </div>
  </div>
            
  <div class="row">
    <div class="form-group col-md-4">
      <label for="b">Contenido</label>
      <input type="text" class="form-control" name="body" [(ngModel)]="body" id="b">  
    </div>
  </div>
    
  <div class="row">
    <div class="form-group col-md-4">
      <label for="a">Autor</label>
      <input type="text" class="form-control" name="autor" [(ngModel)]="autor" id="a">         
    </div>
  </div>

  <div class="row">
      <div class="form-group col-md-4">
        <button type="submit" class="btn btn-success" (click)="agregar()">Agregar</button>
      </div>
    </div>
</div>


